// src/styles/scss/components/_landing.scss
@use '../abstracts/variables' as vars;
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: url('/public/assets/images/fondoRojo.png');
  background-size: cover;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal-content.email {
  background: url('/public/assets/images/fondoRojo.png');
  background-size: cover;
  border-radius: 15px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal-close-btn {
  background: vars.$background-grey;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: vars.$secondary-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #cccccc; // Un color un poco más claro
  }
}
.modal-close-btn.email {
  background: vars.$background-grey;
  border: none;
  width: 70px;
  height: 40px;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: vars.$secondary-color;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #cccccc; // Un color un poco más claro
  }
}
.landing-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('/public/assets/images/fondoRojo.png');
    margin: 1.5rem 1rem;
    background-size: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    min-height: calc( 100vh - 1.5rem );
    .flecha{
      position: absolute;
      top: -1.3rem;
    }
    .ofertas{
      position: absolute;
      top: 35%;
      z-index: 1;
      opacity: 0.5;
      width: 100%;
      user-select: none;
      pointer-events: none;
    }
    .logoBlanco{
      width: 200px;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  .navContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .border{
      width: 80%;
      height: 2px;
      border-radius: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .logo{
      width: 160px;
      height: auto;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
    
    .botonOfertas {
      width: 236px;
      background-image: url('/public/assets/icons/botonOfertas.png');
      background-size: cover;
      background-position-x: 6px;
      height: 107px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
      p{
        font-size: 1.5rem;
        position: relative;
        bottom: 0.5rem;
        left: 1.7rem;
        font-weight: bolder;
        color: vars.$secondary-color;
        font-style: normal;
        
      }}

      .botonLegajo{
        width: 232px;
        background-image: url('/public/assets/icons/botonLegajo.png');
        background-size: cover;
        background-position-x: 6px;
        height: 107px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
        p{
          font-size: 1.1rem;
          position: relative;
          bottom: 0.5rem;
          font-weight: bolder;
          color: vars.$secondary-color;
          font-style: normal;
          
        }
      
    }
    
    .botonCapacitaciones {
      width: 295px;
      text-decoration: none;
      text-transform: none;
      background-image: url('/public/assets/icons/botonCapacitaciones.png');
      background-size: cover;
      background-position-x: 6px;
      height: 131px;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      z-index: 3;
      margin-top: 2rem;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
      p{
        font-size: 2.3rem;
        position: relative;
        left: 3rem;
        bottom: 0.5rem;
        font-weight: bolder;
        color: vars.$secondary-color;
        font-style: normal;
      }
    }
    
  
    
   
      .kaIAModel {
        border-radius: 100%;
        padding : 4rem;
        position: relative;
        bottom: 1rem;
        
        background-image: url('/public/assets/icons/kaia.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10,;
        
      }
    }
    
  }
  .socialMedia{
    margin-top: 1rem;
    margin-bottom: 1rem;
    .navSocial{
      display: flex;
      justify-content: center;
      li{
        list-style: none;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        cursor: pointer;
        &:hover{
          transform: scale(1.08);
          -webkit-transform: scale(1.08);
          -moz-transform: scale(1.08);
          -ms-transform: scale(1.08);
          -o-transform: scale(1.08);
}
        img{
          width: 25px;
        }
      }
    }
  }
  

@media (min-width: 500px) {
  .landing-container {
    .ofertas{
      position: absolute;
      top: 25%;
      z-index: 1;
      opacity: 0.5;
      width: 80%;
      user-select: none;
      pointer-events: none;
    }
  }
}
  
@media (min-width: 700px) {
  .landing-container {
    .ofertas{
      display: none;
    }
  }

}

.float-button-container {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;


  .btn-float {
    background: linear-gradient(45deg, vars.$tercery-color, vars.$tercery-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    animation: subtlePulse 3s infinite;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 12px rgba(0,0,0,0.35);
    }
  }
}

@keyframes subtlePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
}