.user-form {
    /* Inspirado en tu snippet con fondo rojo y bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://fedesagency.com/Kronen/fondoBlancoConRuleta.png');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 1.5rem;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #fff; 
    margin-bottom: 1rem;
    h2 {
      background: linear-gradient(
        to right,
        #A21B1D 0%,
        #A51A1C 15%,
        #AF191C 27%,
        #C1181C 39%,
        #DA161C 51%,
        #E1161C 53%
      );
      margin-top: 0 !important;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      font-weight: bold;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  
    div {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
  
      label {
        font-weight: bold;
        margin-bottom: 0.3rem;
        color: #575756;
      }
  
      input {
        border: none;
        border-radius: 18px;
        padding: 0.5rem;
        font-size: 1rem;
        outline: none;
        /*Siquieresfondosemitransparente*/background: #C6C6C6;
        color: #333;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
      }
    }
  
    button[type="submit"] {
      background: linear-gradient(        to right,        #A21B1D 0%,        #A51A1C 15%,        #AF191C 27%,        #C1181C 39%,        #DA161C 51%,        #E1161C 53%      );
      color: white;
      border: none;
      padding: 12px 34px;
      border-radius: 25px;
      font-weight: bold;
      cursor: pointer;
      transition: transform 0.2s, box-shadow 0.2s;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      
      &:hover{
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(226, 22, 28, 0.4);
      }
    }
  }
  

  .spinner {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 8px solid #ffffff;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: girar 1s linear infinite;
    margin-bottom: 1.5rem;
  }
  
  @keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }