// src/styles/scss/base/_reset.scss
@use '../abstracts/variables' as vars;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: vars.$font-stack; 
    background-color: vars.$background-grey;
  }
  